@font-face {
  font-family: 'SSP ExtraLight';
  src: url('/fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf')
    format('truetype');
  /* TO-DO: test if this is truly needed on Safari https://www.smashingmagazine.com/2013/02/setting-weights-and-styles-at-font-face-declaration/ */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SSP Light';
  src: url('/fonts/SourceSansPro/SourceSansPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SSP Regular';
  src: url('/fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SSP Semibold';
  src: url('/fonts/SourceSansPro/SourceSansPro-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SSP Bold';
  src: url('/fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-off-white: #eee;
  --color-dark-grey: #ccc;
  --color-greyscale-300: #ddd;
  --color-greyscale-500: #999999;
  --color-greyscale-900: #333333;
  --color-success-green: #00b797;
  --color-success-light: #f2fbfa;

  --spacing-extra-large: 45px;
  --spacing-large: 32px;
  --spacing-medium: 24px;
  --spacing-small: 16px;
  --spacing-extra-small: 8px;
  --spacing-mini: 2px;

  /* delete these */
  --border-radius-large: 24px;
  --border-radius-medium: 16px;
  --border-radius-small: 8px;

  -font-size-large: 22px;
  -font-size-medium: 18px;
  -font-size-small: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: SSP Regular;
}

html,
body {
  background-color: var(--color-off-white);
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
  padding: var(--spacing-extra-large);
}

h2 {
  font-family: 'SSP Bold';
}
