.wrapper {
  border: 1px solid var(--color-greyscale-300);
}

.header {
  border-radius: var(--border-radius-small);
  outline: none;
  border: none; /* anything else? */
  cursor: pointer;
  background-color: var(--color-white);
  padding: var(--spacing-medium);
  width: 100%;

  display: flex;
  justify-content: space-between;

  text-align: left;
  color: var(--color-greyscale-900);
}

.panel {
  padding: var(--spacing-small);
}

.chevronWrapper {
  display: flex;
  gap: var(--spacing-extra-small);
  color: var(--color-greyscale-500);
}
